.button {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1rem bold;
    width: 100%;
    color: gold;
    cursor: pointer;
    transition: all .5s ease;
    background-color: transparent;
    border: gold 1px solid;
    &:hover{
        color: #444;
        background-color: gold;
        border: none;
    }
}